[package]
name = "twitch-tui"
version = "2.0.0-alpha.7"
authors = ["Xithrius <xithrius@gmail.com>"]
edition = "2021"
rust-version = "1.61.0"
description = "Twitch chat in the terminal."
documentation = "https://github.com/Xithrius/twitch-tui"
homepage = "https://github.com/Xithrius/twitch-tui"
repository = "https://github.com/Xithrius/twitch-tui"
license = "MIT OR Apache-2.0"
keywords = ["tui", "twitch"]
categories = ["command-line-utilities"]

[dependencies]
crossterm = "0.23.2"
tui = { version = "0.18.0", default-features = false, features = [ "crossterm" ] }
tokio = { version = "1.20.0", features = [ "full" ] }
clap = { version = "3.2.13", features = [ "derive", "cargo" ] }
serde = { version = "1.0.140", features = [ "derive" ] }
serde_json = "1.0.83"
unicode-width = "0.1.9"
unicode-segmentation = "1.9.0"
chrono = "0.4"
irc = "0.15.0"
futures = "0.3.21"
toml = "0.5.9"
textwrap = "0.15.0"
rustyline = "10.0.0"
lazy_static = "1.4.0"
enum-iterator = "0.8.1"
fuzzy-matcher = "0.3.7"
regex = "1.6.0"
color-eyre = "0.6.2"
log = "0.4.17"
fern = "0.6.1"

[[bin]]
bench = false
path = "src/main.rs"
name = "twt"

[profile.release]
lto = "thin"
