[twitch]
# Your username on Twitch.
username = ""
# The streamer's name.
channel = ""
# The IRC channel you'd like to connect to.
server = "irc.chat.twitch.tv"
# OAuth token that authenticates you into Twitch. I suggest you don't share this password.
token = ""

[terminal]
# The delay in milliseconds between terminal updates.
tick_delay = 30
# The maximum amount of messages to be stored.
maximum_messages = 150

[frontend]
# If the time and date is to be shown.
date_shown = true
# The format of the date and time outputs, https://strftime.org/ has formats.
date_format = "%a %b %e %T %Y"
# The longest a username can be.
maximum_username_length = 26
# Which side the username should be aligned to.
username_alignment = "right"
# The color palette for the username column: pastel (default), vibrant, warm, cool.
palette = "pastel"
# Show title with time and channel.
title_shown = true
# Show padding around chat frame.
padding = true
# Show twitch badges next to usernames.
badges = true

[database]
# If filters should be enabled at all.
filters = true
# If previous channels switched to should be tracked.
channels = true
# If previous username mentions should be tracked.
mentions = true
