name: CatJam

on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:
  thanks:
    runs-on: ubuntu-latest

    if: github.event.pull_request.merged == true

    steps:
      - name: comment PR
        uses: unsplash/comment-on-pr@master

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        with:
          msg: "![cat](https://cdn.discordapp.com/emojis/750350748746907669.gif?v=1)"
          check_for_duplicate_msg: true
